nav {
  background-color: #36366f;
  color: white;
  padding: 10px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
li button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
