.home-container {
  display: flex;
}
.image-container {
  background-image: url("../../images/Home.png");
  width: 200vh;
  height: calc(100vh - 71px);
  background-size: 100% 100%;
}
.text-container {
  max-width: 500px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.text-container h2 {
  color: #333366;
  padding-left: 20px;
}
.text-container p {
  color: #666666;
  padding-left: 20px;
}
.text-container img {
  height: 70px;
  width: 500px;
}
